<% include layout/header.html %>


	<br>
	这个是页面的主题内容
	<a href="/login" class="btn"><i class="fa fa-yonghu"></i>回到登录页</a>
	<a href="/user" class="btn"><i class="fa fa-yonghufill"></i>跳转到用户页面</a>
	<a href="/loginOut" class="btn"><i class="fa fa-yonghufill"></i>退出登录</a>
	<br>
	<div>
		<ul>
			<li>
				也可以使用图标
			</li>
			<li>
				<i class="fa fa-xiangzuo1"></i>
				<i class="fa fa-xiangyou1"></i>
				<i class="fa fa-xiangshang2"></i>
				<i class="fa fa-xiangxia2"></i>
				<i class="fa fa-xiangshang5"></i>
				<i class="fa fa-dibu"></i>
				<i style="color:red;" class="fa fa-xinxifill"></i>
				<br>
				<a href="" target="_blank">点击查看已有图标</a>
			</li>
		</ul>
	</div>
	<div id="test"></div>

	<div class="bg1"></div>
	<div class="bg2"></div>
	<div class="bg3"></div>
	<div class="bg4"></div>
<script type="text/javascript" src="<%= rootPath%>/js/lib/common.js"></script>
<script type="text/javascript" src="<%= rootPath%>/js/main.js"></script>
<% include layout/footer.html %>
